  <main class="home-page-main">
   <div class="info">
      <div class="header">
         <img src="logo.jpg" width="40px" height="40px">
         <h1 class="Page-title"> EXODUS </h1>
      </div>
      <h3 class="moto"> <i>-----ITS FINGER LICKING GOOD</i> </h3>
      <h3 class="Home-authenticate">
         IF YOU ARE A NEW USER , <%= link_to "sign up here", new_user_path %>
      </h3>
      <h3 class="Home-authenticate">
         IF YOU ARE AN EXISTING, <%= link_to "sign in here", new_sessions_path %>
      </h3>
   </div>
   <div class="side-pic">
      <img src="homepage.jpg" class="homeimage">
   </div>
</main>
