<div class="row">
  <% items.each do |item|%>
    <p class="col-3"><%= item.quantity %></p>
    <p class="col-6"> <%= item.name %> (1)</p>
    <p class="col-3"><%= item.price %></p>
  <% end %>
</div>
