<!doctype html>
<html lang="en">

<head>
  <title>My CSS Website</title>
  <link rel=stylesheet href="food-app.css">
</head>

<body>
  <main class="main">
  <nav>
    <ul class="navbar" id="dropdownclick">
      <li><a href="/"> Home </a></li>
      <li><a href="#home"> Contact </a></li>
      <li><a href="#home"> About </a></li>
      <li class="navbar-right"><a href=<%= sessions_path %>> sign IN </a></li>
      <li class="navbar-right"><a href=<%= new_user_path %> > sign UP </a></li>
      <li class="dropdown"><a href="javascript:void(0);" onclick="dropdownmenu()">&#9776</a></li>
    </ul>
  </nav>

  <script>
    function dropdownmenu(){
        var x=document.getElementById("dropdownclick");
        if(x.className === "navbar"){
            x.className+= " responsive";
        }
        else{
            x.className= "navbar";
        }
    }
  </script>

<div class="Menu-Title">
  <h2 class="menu">MENU</h2>
  <a href="" class="Place-Order"> PLACE ORDER </a>
</div>

  <div class="row">
    <h4 class="col-3">QUANTITY</h4>
    <h4 class="col-6">NAME OF THE ITEM</h4>
    <h4 class="col-3">PRICE</h4>
  </div>

 <%= render partial: "item-section", locals: {
        items: Item.remaining}
  %>

 </main>
</body>
</html>
