<body>
  <main class="main">
  <nav>
    <ul class="navbar" id="dropdownclick">
      <li><a href="/"> Home </a></li>
      <li><a href=<%= new_order_path%>> ORDER </a></li>
      <li><a href=/about> About </a></li>
      <li class="navbar-right"><%= link_to "SIGN-OUT", destroy_session_path, method: "delete" %></li>
      <li class="dropdown"><a href="javascript:void(0);" onclick="dropdownmenu()">&#9776</a></li>
    </ul>
  </nav>

  <script>
    function dropdownmenu(){
        var x=document.getElementById("dropdownclick");
        if(x.className === "navbar"){
            x.className+= " responsive";
        }
        else{
            x.className= "navbar";
        }
    }
  </script>

<div class="Menu-Title">
  <h2 class="menu">MENU</h2>
 <h3 class="Home-authenticate">
     IF U WANT TO ADD ITEMS <%= link_to "add items", new_item_path %>
  </h3>
</div>

  <div class="row">
    <h4 class="col-3">REMAINING-QUANTITY</h4>
    <h4 class="col-6">NAME OF THE ITEM</h4>
    <h4 class="col-3">PRICE (Rs)</h4>
  </div>

 <%= render partial: "item-section", locals: {
        items: Item.remaining}
  %>

 </main>
</body>
</html>
