<table>
  <tr class="order-row">
    <th class="order-header">NAME OF ITEM</th>
    <th class="order-header">PRICE</th>
  </tr>
  <% MenuItem.all.each do |item| %>
    <div class="cart">
      <tr class="order-row">
        <td class="order-attributes"><%= item.name %></td>
        <td class="order-attributes"><%= item.price %></td>
          <%= form_with  url: order_items_path(menu_item_id: item.id) , local: true, method: "POST"  do  %>
           <td class="order-attributes"><%= number_field_tag 'quantity' %></td>
            <td><input type="submit" value="ADD_TO_CART" class="order-col"></td>
          <% end %>
      </tr>
    </div>
  <% end %>
</table>
