<body>
  <main class="main">

    <nav>
      <ul class="navbar" id="dropdownclick">
        <% if @current_user.role == "owner"%>
          <li><a href=/menus/new> ADD-MENU </a></li>
          <li><a href=/menu_items> MENU </a></li>
          <li><a href=/users> USERS </a></li>
          <li><a href=/orders/new> ORDER </a></li>
          <li><a href=/order_items/new> WALK-IN </a></li>
          <li><a href=/reports> REPORTS </a></li>
        <% elsif @current_user.role == ("manager" || "owner") %>
          <li><a href=/orders/new> ORDER </a></li>
        <% elsif @current_user.role == "user"%>
          <li><a href=/menu_items> MENU </a></li>
          <li><a href=/order_items> CART </a></li>
          <li><a href=/order_items/new> MY-ORDERS </a></li>
        <% end %>
        <li class="navbar-right"><%= link_to "SIGN-OUT", destroy_session_path, method: "delete" %></li>
      </ul>
    </nav>

  </main>

  <section class="about">
  </section>
<body>
