<body>
  <section class="backimage-home">
    <main class="home-main-page">
      <div class="home-heading-container">
      <h1 class="home-main-heading"> ARE YOU</h1>
      <h1 class="home-main-heading"> HUNGRY ?</h1>

      <h3 class="home-sub-heading"> Why not come down to our restaurent and find out what awaits you</h3>
      <%= button_to "ORDER-NOW", menu_items_path, :method => "get",class: "menu-button" %>

      </div>
    </main>
  </section>
<body>
