/* ######   home page   ### */
main.home-page-main {
  display: flex;
  background-color: rgb(241, 241, 241);
}

.header {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.Page-title {
  font-size: 40px;
  font-weight: 600;
  margin-left: 5px;
  color: orangered;
}
.moto {
  margin-right: 8px;
  margin-bottom: 30px;
  display: block;
}
.Home-authenticate {
  font-size: 20px;
  margin-left: 25%;
}
/*##############  picture  ######## */
.side-pic {
  width: 50%;
  height: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border: black solid 5px;
}
.homeimage {
  width: 100%;
}
.info {
  width: 50%;
}
p.User-name {
  padding: 0 35px;
  text-transform: capitalize;
}
.flash-error {
  color: darkred;
  margin-bottom: 20px;
  font-size: 18px;
  animation: fadeOut 6s;
  background-color: rgb(194, 73, 73);
  color: rgb(207, 212, 218);
}
.flash-notice {
  color: green;
  margin-bottom: 20px;
  font-size: 18px;
  animation: fadeOut 6s;
  color: rgb(207, 212, 218);
  background-color: rgb(88, 167, 88);
}
.flash-message {
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

users-back-buttom {
  list-style: none;
}
