/* ######   home page   ### */
main.home-page-main {
  display: flex;
  background-color: rgb(241, 241, 241);
}

.header {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.Page-title {
  font-size: 40px;
  font-weight: 600;
  margin-left: 5px;
  color: orangered;
}
.moto {
  margin-right: 8px;
  margin-bottom: 30px;
  display: block;
}
.Home-authenticate {
  font-size: 20px;
  margin-left: 25%;
}
/*##############  picture  ######## */
.side-pic {
  width: 50%;
  height: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border: black solid 5px;
}
.homeimage {
  width: 100%;
}
.info {
  width: 50%;
}
