/* ####  DIPLAYING MENU  ###### */
img {
  display: block;
}
.menu-rendering {
  margin-top: 50px;
}
.menu {
  padding-left: 20px;
  margin-bottom: 50px;
}
.MenuDisplay {
  position: relative;
  display: block;
}
.category-wise-menu {
  display: flex;
  flex-wrap: wrap;
  content: " ";
  padding-left: 15px;
}
.TodoSectionTitle-text {
  text-transform: uppercase;
  font-size: 27px;
  color: rgb(26, 44, 44);
}

.heading {
  display: flex;
  align-items: center;
  width: 60%;
  /* justify-content: space-between; */
}
.item-name {
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  margin-bottom: 5px;
}
.item-price {
  padding-left: 50px;
}
.description {
  padding-left: 10px;
}
.items-in-category {
  margin-bottom: 15px;
}
.menu-tag {
  text-align: center;
}
.backbutton {
  background-color: rgb(115, 207, 115);
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
  border: 0;
}
.headers {
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.adding {
  display: flex;
  justify-content: space-between;
}
.MenuNew {
  width: 50%;
  text-align: center;
}

.ItemNew {
  width: 50%;
  text-align: center;
  height: 550px;
  border-left: 6px solid black;
}
