.backbutton {
  background-color: rgb(115, 207, 115);
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
  border: 0;
}
.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.adding {
  display: flex;
  justify-content: space-between;
}
.MenuNew {
  width: 50%;
  text-align: center;
}

.ItemNew {
  width: 50%;
  text-align: center;
  height: 550px;
  border-left: 6px solid black;
}
