table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 5px solid black;
  padding: 10px;
  font-size: 24px;
}

.order-attributes {
  padding: 10px;
  font-size: 15px;
}
.cart :hover {
  background-color: grey;
  color: aliceblue;
}
