/* ###  order  ### */
.delivered-button {
  background-color: goldenrod;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 19px;
}
table {
  border-collapse: collapse;
  margin-left: 15%;
  margin-top: 20px;
}

table,
th,
td {
  border: 5px solid black;
  padding: 7px 10px;
  font-size: 24px;
}
table.order-table {
  text-align: center;
  margin-left: 150px;
  margin-top: 20px;
}
.order-attributes {
  padding: 10px;
  font-size: 15px;
}
.cart :hover {
  background-color: grey;
  color: aliceblue;
}

/* #####  MY-ORDER  ### */
.myorder-items {
  justify-content: space-between;
  display: flex;
  text-align: center;
}
.myorder-box {
  border: black solid 2px;
  border-radius: 7px;
  background-color: rgb(51, 71, 90);
  color: white;
}
.myorder-item-value {
  padding-right: 15px;
}
.myorder-container {
  display: block;
  width: 75%;
  margin: 0 auto;
}
.myorder-total {
  text-align: center;
}
.myorder-message {
  text-align: center;
  margin: 50px;
}

/* ######  CART     #### */
.cart-confirm-button {
  text-align: center;
  margin-right: 50%;
  float: right;
  padding-right: 20px;
  background-color: goldenrod;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px 5px;
}
.cart-message {
  text-align: center;
}
