.Signing-page {
  text-align: center;
  color: rgb(221, 228, 235);
};

.Usersnew{
  display: block;
  margin-left: 500px;
  color: rgb(221, 228, 235);
}
}
.NewUsers-title {
  margin-bottom: 40px;
  font-size: 30px;
  color: rgb(221, 228, 235);
}

.Form-section {
  margin-bottom: 30px;
}
.Form-input {
  font-size: 20px;
  padding: 8px;
}
.FormInput-label {
  display: block;
  color: goldenrod;
  margin-bottom: 8px;
}
.Form-submit {
  font-size: 20px;
  padding: 10px;
  background-color: #61a061;
  color: black;
  border: 0;
  border-radius: 8px;
}
.User-name{
  color: white;
  display: flex;
  justify-content: space-between;
}
