/* #####     SIGN UP PAGE    ###### */

.Signing-page {
  text-align: center;
}

.NewUsers-title {
  margin-bottom: 40px;
  font-size: 35px;
  color: darkslategrey;
}

.FormInput-label {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
}

.Form-section {
  margin-bottom: 30px;
}

.Form-input {
  font-size: 20px;
  padding: 8px;
}
.Form-submit {
  font-size: 20px;
  padding: 10px;
  background-color: #61a061;
  color: black;
  border: 0;
  border-radius: 8px;
}

/* ######  users button   ####### */

.role-change {
  content: " ";
  display: block;
}
.upgrade-button {
  padding: 5px;
  margin: 0 auto;
  font-size: 20px;
  background-color: lightgreen;
}

/* #####  header  ###### */

.User-name {
  color: black;
  display: flex;
  justify-content: space-between;
}

/* ####  unwanted   #### */
